body{
    background-color: rgba(0, 0, 0, 0.65);
}

.social-icons a {

    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: #BD5D38;
  }
  

.flex-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    
}

.nav-bar{
    margin: 0px;
    align-self: flex-start;
    width: 100%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 30%;
    flex-flow: column nowrap;
}

#volver{
    color: white;
    font-size: x-large;    
}

.h1{
    color: white;
    text-align: center;
}

a:hover, a:focus, a:active{
    background-color:rgba(0, 204, 255, 0.5);
    font-size: 120%;
  }