.resumen {
  margin-left: 20%;
  max-width: 75rem;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
}

/* Ajusta tamanio cuando la ventana se encoje en los links de la navbar y el tecto de los circles */
@media(max-width:260){
  #nav-side .navbar-nav .nav-item .nav-link {
    font-size: 5px;
  }
  .circles h6{
    font-size: 8px;
    margin-left: 5%;
  }
}

/* Ajusta tamanio cuando la ventana se encoje en los links de la navbar y el tecto de los circles */
@media(max-width:460px){
  #nav-side .navbar-nav .nav-item .nav-link {
    font-size: 10px;
  }
  
  #nav-side{
    width: 15%;
  }

  .circles h6{
    font-size: 8px;
    margin-left: 5%;
  }

}

hr{
  border: solid;
  width: 99%;
  border-color: rgba(255, 0, 0, 0.65);
}

.navbar{
  background-color: green;
  justify-content: left;
}

.flex-container-body{
  display:flex;
  align-items: flex-;
  flex-flow: row nowrap;

}
  /* Pongo a la izquierda la navbar*/
  #nav-side {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
  }

    #nav-side .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      margin-bottom: auto;
    }

    #nav-side .navbar-nav {
      flex-direction: column;
      flex-grow: 0;
    }
      

    #nav-side .navbar-nav .nav-item .nav-link, #profile-picture {
      color: white;
      cursor: pointer;
    }

    .resumen > div  {
      min-height: 100vh;
      min-width: 18rem;
      color: white;
    }

/* Acciones sobre la barra */
a.nav-link:hover, a:focus, a:active{
  background-color:rgba(0, 204, 255, 0.5);
  font-size: 120%;
}

/* Dibuja el circulo */
.circle {
  position: relative;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    background: red;
    cursor: pointer;
}

/* Hace que los parrafos esten dentro del circulo */
.circle p{
  position:absolute;
  top: 20%;
  max-width: inherit;
  max-height: inherit;
  font-size: smaller;
  text-align: center;
}

/* Estaba corrido data structures */
#ds p{
  position:absolute;
  top: 20%;
  left: 10%;
  max-width: inherit;
  max-height: inherit;
  font-size: smaller;
  text-align: center;
}

/* Pone a la izquierda cada proyecto */
.project-item{
  text-align: left;
  font-size: 1.5rem;
}

