.resumen {
  margin-left: 20%;
  max-width: 75rem;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
}

hr{
  border: solid;
  width: 99%;
  border-color: rgba(255, 0, 0, 0.65);
}

.flex-container-body{
  display:flex;
  align-items: flex-start;
  flex-flow: row nowrap;
}

  #nav-side {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
  }
    #nav-side .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
      }

      #nav-side .navbar-nav {
        flex-direction: column;
        flex-grow: 0;
        width: 100%;
      }
      
      #nav-side .navbar-nav .nav-item .nav-link, #profile-picture {
        color: white;
        cursor: pointer;
      }

        .resumen > div  {
          min-height: 100vh;
          min-width: 18rem;
          color: white;
        }

a.nav-link:hover, a:focus, a:active{
  background-color:rgba(0, 204, 255, 0.5);
  font-size: 120%;
}

.circle {
  position: relative;
  /* left: -44%; */
    width: 110px;
    height: 110px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    background: red;
    cursor: pointer;
}

.circle p{
  position:absolute;
  top: 20%;
  max-width: inherit;
  max-height: inherit;
  font-size: smaller;
  text-align: center;
}

#ds p{
  position:absolute;
  top: 20%;
  left: 10%;
  max-width: inherit;
  max-height: inherit;
  font-size: smaller;
  text-align: center;
}

