.resumen {
  margin-left: 20%;
  max-width: 75rem;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
}

hr{
  border: solid;
  width: 99%;
  border-color: rgba(255, 0, 0, 0.65);
}

.flex-container-body{
  display:flex;
  align-items: flex-start;
  flex-flow: row nowrap;
}

  #nav-side {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
  }
    #nav-side .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
      }

      #nav-side .navbar-nav {
        flex-direction: column;
        flex-grow: 0;
        width: 100%;
      }
      
      #nav-side .navbar-nav .nav-item .nav-link {
        color: white;
        cursor: pointer;
      }

        .resumen > div  {
          min-height: 100vh;
          min-width: 18rem;
          color: white;
        }
#contactme{
  margin-top: 63vh;
}

a:hover, a:focus, a:active{
  background-color:rgba(0, 204, 255, 0.5);
  font-size: 120%;
}

#about-segunda-linea, #about-tercera-linea{
  display: block;
  margin-top: 15%;
}

ol.projects-list > li, ol.courses-list > li{
  text-align: left;
}

ol.courses-list{
  margin-left: 15%;
}

ol.projects-list{
  margin: auto;
  
}

